
<div >
  <h1 class="line">
    Cadastro de Funcionários
  </h1>
</div>

<ul class="employeeList">
  <li *ngFor = "let employee of employeeCollection" (click)="OpenForEdit(employee)" [class.selected]="employee == selectedEmployee">
    <span class="badge">{{employee.EmployeeID}}</span> {{employee.Codigo}} - {{employee.Nome}}
  </li>
</ul>

<div class="employeeForm">
  <label>{{selectedEmployee.EmployeeID ==0 ? "Cadastre seus funcionários":"Atualize seus funcionários"}}</label><br/>
  <input [(ngModel)] = "selectedEmployee.Codigo" class="textBox" placeholder="Codigo"/><br/>
  <input [(ngModel)] = "selectedEmployee.Nome" class="textBox" placeholder="Nome"/><br/>
  <button (click)="AddOrEdit()">Enviar</button>
  <button  *ngIf = "selectedEmployee.EmployeeID != 0" (click)="Delete()" class="button_form">Deletar</button>
</div>

